body {
    font-family: 'Spectral', serif;
    overflow-x: hidden;
    overflow-y: scroll; 
}


#main_nav .nav-link {
    color: black;
    padding-right: 30px;
    padding-left: 30px;
}

h2 {
    color: black;
    font-size: 4rem;
}

i {
    color: black;
}

p {
    font-size: 1.75rem;
    color: black;
    font-weight: 300;
    margin-top: 3rem;
}

hr	{
	width: 250px;
	/*borders here create a shadow beneatht the hr*/
	border-top: 1px solid black;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section {
    color: white;
    font-weight: 100;
    font-size: 2rem;
    height: 100vh;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 2px;
    margin-top: 3rem;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

#section1 {
    background: url(https://images.unsplash.com/photo-1549321495-305eb13f8aa9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
	background-repeat: no-repeat;
    /* background-position: center;
    vertical-align: bottom; */
}

#section2 {
    background: grey;
}

#section3 {
    background: #779ecb;
}

#section4 {
    background: grey;
}

/* background change on hover */
#main_nav .nav-link:hover {
    color: #779ecb;
}

/* # points to an id */
#heading span {
    color: grey;
}


/* change background of navbar when scrolling */
.navbar.scrolled {
    background: grey;
    transition: background 500ms;
}

/* media queries are used to change content when screen is a certain size  */
@media screen and (max-width: 1500px) {
    #heading h2 {
        font-weight: 100;
        font-size: 1.5rem;
    }
    #about {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 1200px){
    #about {
        font-size: 20px;
    }
}


@media screen and (max-width: 950px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    #about {
        font-size: 20px;
    }
  }

  @media only screen and (min-width:701px){
    #about_mobile {
        display: none;
    }
    hr {
        width: 250px;
    }
}

  /* Mobile configurations */
@media only screen and (max-width:700px) {
    
    nav {
        background-color: grey;
    }
    #headshot {
        width: 200px;
        height: 200px;
    }
    hr {
        width: 200px;
    }
    h2 {
        padding-top: 1.5rem;
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .row {
        padding: 1rem;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    #photo_grid {
        display: none;
    }
    #camping_img {
        max-width: 45%;
        max-height: 45%;
        padding-bottom: 5rem;
        margin-bottom: 2rem;
    }
    #about {
        display: none;
    }
    #about_mobile {
        display: flex;
        font-size: 16px;
    }
}
